---
import Page from 'src/components/Page.astro';
import PageHeader from 'src/components/PageHeader.astro';
import PageLayout from 'src/components/PageLayout.astro';
import PostList from 'src/components/PostList.astro';
import PostListItem from 'src/components/PostListItem.astro';
import { getPostsCollection } from 'src/content';

export const getStaticPaths = async () => {
  const posts = await getPostsCollection();
  return posts.map((post) =>
    (post.data.categories ?? []).map(
      (category) => ({ params: { slug: category.slug }, props: { name: category.name } }),
    )
  ).flat();
};

interface Props {
  name: string;
}

const { slug } = Astro.params;
const { name } = Astro.props;

const allPosts = await getPostsCollection();
const posts = allPosts.filter((post) => (post.data.categories ?? []).some((c) => c.slug === slug));
---

<Page title={name} description={`Posts in ${name}`}>
  <PageLayout>
    <PageHeader title={name} slot="header" />
    <main>
      <PostList>
        {posts.map((post) => <PostListItem {post} />)}
      </PostList>
    </main>
  </PageLayout>
</Page>
