.list {
  display: inline;
}

.list-item {
  display: inline;

  &::after {
    content: ", ";
  }

  &:nth-last-child(2)::after {
    content: " & ";
  }

  &:last-child::after {
    content: "";
  }
}
