.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-block-size: 100dvh;
}

.header {
  grid-column: 1;
  grid-row: 1;
}

.main {
  grid-column: 1;
  grid-row: 2;
}
