.container {
  position: relative;

  .cover {
    opacity: 0;
  }

  &:has(.title-link:hover) .cover,
  &:has(.title-link:focus-visible) .cover {
    opacity: 1;
  }
}

.cover {
  position: absolute;
  z-index: -1;
  inset: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content-outer {
  box-sizing: border-box;
  inline-size: min(100vw, 200ch);
  margin-inline: auto;
}

.content-inner {
  padding-block: 0.5em;
  padding-inline: 0.25em;

  font-size: clamp(40px, 8vw, 128px);
  line-height: 1;
  text-wrap: balance;
}

.title-link {
  font-weight: 700;
  text-decoration: none;
}

.category-list {
  display: inline;

  li {
    display: inline;

    &::after {
      content: ", ";
    }

    &:nth-last-child(2)::after {
      content: " & ";
    }

    &:last-child::after {
      content: "";
    }
  }
}
