.container {
  display: grid;
  max-inline-size: 100rem;
  margin-inline: auto;
}

.cover {
  display: flex;
  justify-self: center;
  inline-size: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.meta {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: min(100vw, 45rem);
  margin-block-start: 1.25em;
  margin-inline: auto;
  padding-inline: 16px;

  line-height: 1.6;
}

@media (min-width: 80ch) {
  .cover {
    position: relative;
    z-index: -1;
    transform: rotate(-2deg);

    grid-column: 1;
    grid-row: 1;

    inline-size: min(90vw, 140ch);
    margin-block: -96px -64px;

    box-shadow: 0 10px 48px rgba(0, 0, 0, 0.01);
  }

  .meta {
    grid-column: 1;
    grid-row: 1;

    margin-block: 0;

    font-size: 200%;
    text-align: center;
  }
}
