.container {
  box-sizing: border-box;
  max-width: 45rem;
  margin-block-end: 50vh;
  margin-inline: auto;
  padding-inline: 32px;

  font-family: var(--font-family-serif);
  font-size: 150%;
  line-height: 1.6;
  hyphens: auto;
  text-align: justify;

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  p {
    margin-block: 1.25em;

    &:first-child:first-letter {
      float: left;

      margin-top: 0.215lh;
      margin-right: 0.1em;

      font-family: var(--font-family-sans);
      font-size: 2lh;
      font-weight: 700;
      line-height: 1;
    }
  }
}

@media (max-width: 80ch) {
  .container {
    padding-inline: 16px;
    font-size: 125%;
  }
}
